@import "fonts";
@import "header";
@import "colors";
@import "main_content";
@import "footer";

@media screen and (max-width: 1024px) {
  .home {
    img {
      margin-top: 90px;
    }
  }
  .features {
    h3:after {
      display: block;
      position: relative;
      left: 48%;
      top: 30px;
      width: 42px;
      height: 2px;
      background-color: $blue;
      content: ""
    }

    h3:before {
      z-index: 2;
      display: block;
      position: relative;
      left: 50%;
      top: 75px;
      width: 2px;
      height: 2px;
      background-color: white;
      content: ""
    }

    .col-lg-3 {

      .description {
        width: 220px;
      }
    }
  }
  .testimonials {
    h2:after {
      display: block;
      position: relative;
      left: 47.5%;
      top: 30px;
      width: 42px;
      height: 2px;
      background-color: $blue;
      content: ""
    }

    h2:before {
      z-index: 2;
      display: block;
      position: relative;
      left: 49.75%;
      top: 75px;
      width: 2px;
      height: 2px;
      background-color: black;
      content: ""
    }

    .owl-theme .owl-dots, .owl-theme .owl-nav {
      margin-top: 40px;
    }
  }
  .pricing {
    h2:after {
      display: block;
      position: relative;
      left: 47.5%;
      top: 30px;
      width: 42px;
      height: 2px;
      background-color: $blue;
      content: ""
    }

    h2:before {
      z-index: 2;
      display: block;
      position: relative;
      left: 49.65%;
      top: 75px;
      width: 2px;
      height: 2px;
      background-color: white;
      content: ""
    }
  }
  .contact_us {
    h2:after {
      display: block;
      position: relative;
      left: 47.5%;
      top: 30px;
      width: 42px;
      height: 2px;
      background-color: $blue;
      content: ""
    }

    h2:before {
      z-index: 2;
      display: block;
      position: relative;
      left: 49.75%;
      top: 75px;
      width: 2px;
      height: 2px;
      background-color: #ededed;
      content: ""
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    .col-lg-5 {
      display: none;
    }

    .col-lg-6 {
      text-align: center;
    }
  }
  .features {
    .col-lg-12 {
      margin-top: 100px;
    }

    h3:after {
      left: 48%;
      top: 30px;
    }

    h3:before {
      left: 50.75%;
      top: 75px;
    }

    .col-lg-3 {

      .description {
        width: 220px;
        margin-left: 60px;
      }
    }
  }
  .testimonials {
    h2:after {
      left: 46.5%;
      top: 30px;
    }

    h2:before {
      left: 49.5%;
      top: 75px;
    }

    .owl-carousel {
      text-align: center;
    }

    h3 {
      margin-left: 8%;
    }

    img {
      margin-left: 46%;
    }

    .owl-theme .owl-dots, .owl-theme .owl-nav {
      margin-top: 10px;
    }
  }
  .pricing {
    h2 {
      margin-bottom: 60px;
    }

    h2:after {
      left: 47%;
      top: 30px;
    }

    h2:before {
      left: 49.65%;
      top: 75px;
    }

    .card-deck {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }
  .contact_us {
    h2:after {
      left: 47.5%;
      top: 30px;
    }

    h2:before {
      left: 50.25%;
      top: 75px;
    }
  }
}

@media screen and (max-width: 414px) {
  .home {
    .col-lg-5 {
      display: none;
    }

    .col-lg-6 {
      text-align: left;

      .subtitle {
        margin-top: 0;
      }

      button {
        margin-right: 0;
        margin-top: 30px;
      }

      button:last-of-type {
        float: right;
      }

    }
  }
  .features {
    .col-lg-12 {
      margin-top: 50px;
    }

    h3:after {
      left: 43.5%;
      top: 20px;
    }

    h3:before {
      left: 49%;
      top: 65px;
    }

    .col-lg-3 {
      margin-top: 30px;

      .description {
        width: 220px;
        margin-left: 80px;
      }
    }
  }
  .about {
    .description {
      width: 300px;
    }

    .subtitle {
      margin-top: 30px;
    }

    h3:after {
      top: 24px;
    }

    h3:before {
      top: 112px;
      left: 17px;
    }
  }
  .about_second {
    .col-lg-5 {
      margin-right: 15px;
      margin-left: 15px;

      .description {
        width: 300px;
      }

      .subtitle {
        margin-top: 30px;
      }

      h3:after {
        top: 24px;
      }

      h3:before {
        top: 69px;
        left: 20px;
      }
    }
  }
  .testimonials {
    h2:after {
      left: 44%;
      top: 30px;
    }

    h2:before {
      left: 49.5%;
      top: 75px;
    }

    .owl-carousel {
      text-align: center;
    }

    h3 {
      margin-left: 1%;
    }

    img {
      margin-left: 41%;
    }

    .owl-theme .owl-dots, .owl-theme .owl-nav {
      margin-top: -15px;
    }
  }
  .get_theme {
    padding: 30px 0;
  }
  .pricing {
    h2 {
      margin-bottom: 60px;
    }

    h2:after {
      left: 44.5%;
      top: 30px;
    }

    h2:before {
      left: 49.65%;
      top: 75px;
    }

    .card-deck {
      margin: 0 15px 30px;
    }
  }
  .contact_us {
    h2:after {
      left: 44.5%;
      top: 30px;
    }

    h2:before {
      left: 49.5%;
      top: 75px;
    }

    i {
      margin-top: 40px;
    }

    .description {
      margin-top: 15px;
    }

    .col-xl-8 {
      padding: 0;
    }

    .bg_form {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media screen and (max-width: 375px) {
  .home {
    .description {
      margin-bottom: 0;
    }
  }
  .features {

    h3:after {
      left: 43.5%;
      top: 20px;
    }

    h3:before {
      left: 49%;
      top: 108px;
    }

    .col-lg-3 {

      .description {
        width: 220px;
        margin-left: 60px;
      }
    }
    .col-lg-12 {
      margin: 0;
    }
  }
  .about_second {
    .col-lg-5 {

      h3:after {
        top: 24px;
      }

      h3:before {
        top: 112px;
        left: 20px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .home {
    button {
      width: 130px;
      padding: 3px 6px;
    }

    .description {
      margin-bottom: 0;
    }
  }
  .features {
    padding-bottom: 30px;

    .col-lg-12 {
      margin-top: 0;
    }

    h3:after {
      left: 42%;
      top: 20px;
    }

    h3:before {
      left: 49%;
      top: 108px;
    }

    .col-lg-3 {

      .description {
        margin-left: 35px;
      }
    }
  }
  .about_second {
    .col-lg-5 {

      h3:after {
        top: 24px;
      }

      h3:before {
        top: 112px;
        left: 20px;
      }
    }
  }
  .testimonials {
    h2:after {
      left: 43%;
      top: 30px;
    }

    .subtitle {
      margin-top: 15px;
    }

    img {
      margin-left: 39%;
    }
  }
  .get_theme {
    button {
      width: 140px;
      padding: 3px 6px;
    }
  }
  .pricing {
    h2 {
      margin-bottom: 60px;
    }

    h2:after {
      left: 43%;
      top: 30px;
    }
  }
  .contact_us {
    h2:after {
      left: 43%;
    }
  }
  footer {
    .col-xl-12 {
      padding: 0;
    }
  }
}